    
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-2 m-auto">
                <div class="card bg-dark text-warning">
                    <div class="card-body">
                        <h4 class="text-center">Sevakriti Pvt. Ltd @2023</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>